/ Get the javascript to work
%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"}
/ Latest compiled and minified CSS
%link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", :integrity => "sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", :rel => "stylesheet"}
/ Optional theme
%link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css", :integrity => "sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r", :rel => "stylesheet"}
/ Latest compiled and minified JavaScript
%script{:crossorigin => "anonymous", :integrity => "sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", :src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"}
/ dashboard CSS
%link{:href => "/css/dashboard.css", :rel => "stylesheet"}

%html
%head
  %title MEDA - Multilingual Emotion Detection and Analysis
  / TODO: insert google tracker

%body
  .panel.panel-default
    .panel-body
      .row
        .col-md-12.header.sample1
          %h2.text-center
            = "Emotions: " + @emotion_groups.to_s
            %br
            = "Ambiguous: " + @emotion_ambiguity_status
